@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #080808;
  background-image: url("/bg.jpg"), radial-gradient(#222, #000);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

section + section {
  @apply mt-10;
}

.cta {
  @apply py-2 px-6 text-white text-xl rounded-lg border-[2px] border-[#fafafa3b] hover:border-transparent transition-all bg-gradient-to-b from-[#9809a9] to-[#766a77];
}

.cta-outline {
  @apply py-2 px-6 text-white text-xl rounded-lg border-[2px] border-[#fafafa] hover:border-[#fafafad5] transition-all bg-transparent;
}

.icon-wrapper {
  @apply bg-transparent w-14 h-14 flex justify-center items-center rounded-full bg-gradient-to-b from-[#9809a9] to-[#766a77];
}

.faq-question::before {
  content: "\25BC";
  position: absolute;
  right: 20px;
  color: #000;
}

.faq-answer {
  display: none;
  padding: 1.25rem;
  background-color: white;
  color: #333;
}

.privacy-content > li,
.privacy-content > li > p,
.sub-content,
.sub-content p,
.sub-content ul {
  @apply mt-4;
}

.sub-content h2 {
  font-size: 1.125rem;
}
